<%- include('include/head.ejs')  %> 
<body>
    <%- include('include/header.ejs')  %>
    <% if(errorMessege) { %>
        <p><%= errorMessege %> </p> 
    <% } %> 
    <form action="/login" method="POST">
        <label>email:</label><br>
        <input type="text" name="email"><br><br>
        <label>password:</label><br>
        <input type="text" name="password"><br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="Login">
    </form> 
</body>
</html>