<%- include('include/head.ejs')  %> 
<body>
    <%- include('include/header.ejs')  %>
    <form action="/reset-password/<%= token %> " method="POST">
        <label>New password:</label><br>
        <input type="text" name="newPassword"><br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="change">
    </form> 
</body>
</html>