<%- include('include/head.ejs')  %> 
<body>
    <%- include('include/header.ejs')  %>
    <form action="/sign-up" method="POST">
        <label>username:</label><br>
        <input type="text" name="username"><br><br>
        <% if(isSuccessful){ %>
        <p>!!email is used</p>
        <% } %> 
        <label>email:</label><br>
        <input type="text" name="email"><br><br>
        <label>password:</label><br>
        <input type="text" name="password"><br>
        <input type="submit" value="Sign Up">
    </form>

</body>